body, html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url('https://i.imgur.com/D9bnbpe.jpg');
}
.primaryHeader {
    background-color: rgb(180, 134, 48); 
}
.crystalGame {
    color: rgb(132, 132, 230);
}
.instructions {
    background-color: rgb(41, 175, 175);
    font-family: 'PT Sans Narrow', sans-serif;
}
.instructions p {
    color: gold ; 
    font-size: 24px ; 
}
.randNumDiv {
    background-color: white ; 
    color: forestgreen ; 
}
.randNumDis {
    font-size: 32px; 
    height: 100% ; 
    background-color: forestgreen;
    padding: 20px;
}
#gameNum {
    background-color: white; 
    color: forestgreen;
}
.lossesWins {
    background-color: rgb(199, 188, 35); 
}
.crystalButton {
    height: 100px; 
    width: 100px; 
}
.scoreSum {
    background-color: white ; 
    color: black ; 
}
.scoreDisplay {
    background-color: white ; 
    color: black ; 
}
img {
    height: 80px; 
    width: 80px; 
}
.scoreDisplay {
    font-size: 24px; 

}
#totalScore {
    background-color: silver ; 
}
.col-sm-6 {
    border: solid 2px black; 
}
.footer {
    background-color: black ; 
    text-align: center ; 
    font-size: 24px ; 
}